ADMIN_EMAIL=admin@asteriashomes.com
ADMIN_NAME="Admin User"
ADMIN_PASSWORD=admin123
API_KEY=Wg06RKffFYdZ7HSSk6JBJ2S3CXqDNk4K
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
EMAIL_PASSWORD=Kk.25102002?
EMAIL_USER=asteriashomes.bookings@gmail.com
FRONTEND_URL=http://localhost:3000
JWT_REFRESH_SECRET=asterias-homes-refresh-secret-key-2024-development
JWT_SECRET=asterias-homes-jwt-secret-key-2024-development
MONGODB_URI="mongodb+srv://konstantinos193:Kk.25102002@cluster0.exjpezb.mongodb.net/asterias-homes?retryWrites=true&w=majority&appName=Cluster0"
NODE_ENV=development
PORT=5000
SMTP_HOST=smtp.gmail.com
SMTP_PASS=Kk.25102002?
SMTP_PORT=587
SMTP_USER=asteriashomes.bookings@gmail.com
STRIPE_PUBLISHABLE_KEY=pk_test_51Rg1T3QtoebOaZMZFI4dXQjwTDVxWzFrUTogL6g7rfuAcQ5LwyGgguVdiFgtghIfRqRtS4gUy76BvFVQHl4li4uw00NydvQ0Bq
STRIPE_SECRET_KEY=sk_test_51Rg1T3QtoebOaZMZKP71gk4ZC1fDRigdEYuHq3IXjywKFS2p5Gctq5Opjtj4mbE7ROVobHe8EAF0VEUrGGsc1uG100xvS5fClo
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
EMAIL_APP_PASSWORD=kpnaiqqleiihgemr
